@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*--------------------------------------------- Sitewide Styling*/

body {
	font-family: 'Roboto', sans-serif;
	margin-top: 56px;
}

/*--------------------------------------------- Nav Styling*/

nav {
	background-color: #0d3450;
}

.fixed-top {
	box-shadow: 0px 0px 6px #0d3450;
}


/*--------------------------------------------- Core Section Styling*/

#core {
	min-height: calc(100vh - 76px);
	background-color: #dedede;
}


/*--------------------------------------------- Footer Styling*/

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #0d3450;
	color: #fff;
	box-shadow: 0px 0px 6px #0d3450;
}

footer .footer-col {
	padding: 10px 0;
	margin: auto;
	max-height: 76px;
}